<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <div id="header">
        <div  class="menu">
            <p><a href="index.html">Home</a></p>
        </div>
        <div  class="menu">
            <a href=aboutus.html><p>About Us</a></p>
        </div>
        <div  class="menu">
            <img src="images/logo.png" >
        </div>
        <div  class="menu">
             <p><a href="foodbank.html">Food Banks</a></p>
        </div>
        <div  class="menu">
             <p><a href="contactus.html">Contact Us</a></p>
        </div>
        <div class="container">
  <img src="images/vegetable.png" alt="Norway" style="width:100%;">
  
</div>
    </div>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <div class="zipcode">
    <p>Search for a food bank near you.</p>
  </div>

  <div class="formthing">
    <form action="/action_page.php">
  <label for="fname">Zip Code:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Address:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit" >
</form>
<p><a href="foodbankneeds.html">go to next page</a></p>
  </div>

 </body>
</html>
